.kontent{
    padding:0px 459px;
}

.content-image{
    /* width:100%; */
    height: auto;
    padding: 0px 158px
}

.kontent h2{
    color: #273043;
    font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 40px;                
margin-bottom: 26px;
margin-top: 85px;
}

.p1{
    width: 523px;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 28px;
letter-spacing: 0.5px;
}

.p2{
    margin-top: 34px;
    color: #17255A;
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
width: 523px;
height: 52px;
margin-bottom: 104px;
}

