.faq-content_container{
    padding:  0px 420px ;
    display: flex;
    align-items: center;
    /* margin: 0 auto; */
    /* width: 500px; */
    margin-bottom: 40.82px;
}

.trea{
    border-bottom-width: 500px;
    border-bottom: 1px solid #CECDCD;
    display: flex;
    align-items: center;
    padding-bottom: 25.23px;
}

.faq-content_container h2{
    color: #273043;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    width: 424px;
    margin-right: 68px;
    text-decoration: underline; 
    text-align: left;  
}
