.hero_text{
    margin-left: 100px;
    margin-top: 126px;
}

.hero_text h1{
    width:654px;
    height:157px;
    text-align: left;
    color: #17255A;
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 110.19%;
    margin-bottom: 50px;
}

.hero_text p{
    color: #273043;
    width: 467px;
    height: 74px;
    font-size: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 26px;
}

.hero_section {
    display: flex;
    /* width:1290px ;
    height:460px ; */
    margin-top: 100px;
}

.hero_image-container{
    width:1290px ;
    height:460px ;
    background-image: url(/images/hero_image.png)
}

.hero_img{
    
}

.arrow_img{
    width:22px;
    height:41.7px ;
    padding-left: 61px;
    padding-right: 67px;
    padding-top: 107.6px;
}