* {
    margin: 0px;
  }
  
  .navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 144px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }
  
  .navbar_ul {
    display: flex;
    list-style: none;
    font-family: "Nunito", sans-serif;
  }
  
  .navbar_li {
    margin: 64px 30px 63px 0px;
    line-height: 110.19%;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }
  
  .navbar_li a:hover {
    color: #f5772f;
  }
  
  .navbar_li a {
    text-decoration: none;
    color: #273043;
  }
  
 .navbar_container img {
    height: 42px;
    width: 182.46823120117188px;
    margin-left: 50px;
    /* margin-bottom:50px; */
    margin-right: 67.53px;
  }
  
  span {
    text-transform: uppercase;
    /* padding: 10px 0px 0px 12px; */
    width: 109px;
    height: 36px;
    border: 1px solid #17255a;
    border-radius: 4px;
    margin: 10px 0px;
    font-size: 14px;
    line-height: 16px;
  }
  
  button {
    text-transform: uppercase;
    /* padding: 10px 0px 0px 12px; */
    width: 109px;
    height: 36px;
    border: 1px solid #17255a;
    border-radius: 4px;
    margin: 10px 0px;
    margin-right: 50px;
    font-size: 14px;
    line-height: 16px;
    background-color: #fff;
    font-family: roboto;
    font-weight: 500;
    font-size: 14px;
    background-color: transparent;
    color: #273043;
  }
  
  p {
    margin-right: 36px;
    font-family: Nunito;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #273043;
    letter-spacing: 0.4px;
  }
  